<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account</title>
    <link rel="stylesheet" href="./../css.styles.css">
</head>
<body>
    <header><a href="/">Car Discussions</a></header>
    <div class="container">
        <div class="form-container">
            <h1>Register an Account</h1>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" required>
        
                <input type="submit" value="Register">
            </form>
            <a href="/login">Already have an account? Login</a>
        </div>
    </div>
    

    
    <!-- <div class="error" style="color: red;"></div> -->

    <script>
        const form = document.querySelector('form');
        const username = document.querySelector('#username');
        const password = document.querySelector('#password')
        const display = document.querySelector('.error');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            display.textContent = '';

            try {
                const response = await fetch('/api/auth/register', {
                    method: 'POST', 
                    body: JSON.stringify({ username: username.value, password: password.value }), 
                    headers: { 'Content-Type': 'application/json' }
                });

                const returnedData = await response.json();

                if (response.ok) {
                    location.assign('/login');
                } else {
                    display.textContent = `${returnedData.message}. ${returnedData.error ? returnedData.error : ''}`;
                }
            } 
            catch (e) {
                console.log(e);
                display.textContent = 'Error occured, try again later.';
            }
        })
    </script>
</body>
</html>