<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Welcome <%= user.username %></h1>
    <h4>Your Role: <%= user.role %></h4>
    <button class="logout"><a href="/logout">Logout</a></button>
    <!-- admin login - show all users
    <script>
        const ul = document.querySelector('#list');
        const getUsers = async () => {
            try {
                const response = await fetch('/api/auth/getUsers');
                if (response.ok) {
                    throw new Error('Network issues.');
                }
                const returnedData = await response.json();
                
                if (Array.isArray(returnedData.user)) {
                    returnedData.user.forEach(mappedUser => {
                        if (mappedUser.username !== 'admin') {
                            const li = document.createElement('li');
                            li.innerHTML = `<b>Username</b> => ${mappedUser.username} <br> <b>Role</b> => ${mappedUser.role}`;
                            ul.appendChild(li);
                        }
                    });
                } else {
                    console.error('Not a valid data structure');
                }
            } 
            catch (e) {
                console.log(e);
                ul.innerHTML = '<li>Error fetching all users. </li>';
            }
        } 
        getUsers();
    </script> -->
</body>
</html>